Options -MultiViews
RewriteEngine On

ErrorDocument 404 /ErrorPage.php
RewriteRule ^home?$ index.php

RewriteRule ^logout(.*)?$ apps/sign_out.php

RewriteRule ^dashboard?$ apps/dashboard/view/index.php

###auth
RewriteRule ^add-new-users(.*)?$ apps/auth/view/do.add-new-users.php

RewriteRule ^manage-users(.*)?$ apps/auth/view/do.manage-users.php


###contacts
RewriteRule ^manage-contacts(.*)?$ apps/contacts/view/do.manage-contacts.php

###crm
RewriteRule ^setup-customers(.*)?$ apps/crm/view/do.setup-customers.php
RewriteRule ^manage-customers(.*)?$ apps/crm/view/do.manage-customers.php
RewriteRule ^sales-lead(.*)?$ apps/crm/view/do.new-lead.php
RewriteRule ^manage-leads(.*)?$ apps/crm/view/do.manage-leads.php
RewriteRule ^sales-pipeline(.*)?$ apps/crm/view/do.sales-pipeline.php

### mass email
RewriteRule ^spam-check(.*)?$ apps/emailing/view/do.spam-check.php
RewriteRule ^import-email-list(.*)?$ apps/emailing/view/do.import-email-list.php

#### pos
RewriteRule ^create_pos(.*)?$ apps/pos/view/do.pos_sell.php
RewriteRule ^pos-settings(.*)?$ apps/pos/view/do.pos-settings.php
RewriteRule ^manage-shops(.*)?$ apps/pos/view/do.manage-shops.php
